.imageComponent{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin-top: 10px;
}

.file-input{
  display: none;
}

.picture{
  width: 200px;
  height: 300px;
  border-radius: 3px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(248, 9, 9, 0.685);
  border: 1px dashed #aaaaaa36;
  cursor: pointer;
  transition: all .5s ease-in-out;
 margin-bottom: 1rem;
}

.picture:hover{
  border: 1px dashed; 
  color: rgb(248, 9, 9);
  
}

  img{
    max-width: 100%;
    height: fit-content;
  }

  button{
    background: none;
    border: 1px solid rgb(216, 216, 33);
    border-radius: 3px;
    color: rgb(216, 216, 33);
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
    font-size: 12pt;
    transition: all ease-in-out .3s;
  }

   button:hover{
    text-shadow: 0 0 0.125em rgb(216, 216, 33);
    box-shadow: 0 0 0.125em rgb(216, 216, 33);
   }

  .hidden {
    display: none;
  }