.text-area{
    margin-top: 5rem;
}


textarea{
  height: 300px;
  padding: 10px;
  margin: 10px;
  outline: none;
  appearance: none;
  background: transparent;
  border: 1px solid #5ddbe3;
  resize: none;
  text-transform: uppercase;
  color: #5ddbe3;
  transition: all ease-in-out .3s;
}

textarea:hover{
    box-shadow: 0 0 5px #5ddbe3;
    border-radius: 8px;
    transform: scale(1.1);
}
