.generalSheet{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-height: 25rem;
    gap: 2rem;
    padding: 20px;
    
}

.generalSheet h1{
    font-size: 20px;
    color: #fd6058;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 1rem;   
}

.nameInput label{
    color: #5ddbe3;
    font-size: 16px;
    margin-right: 8px;
    font-weight: 300;
    text-transform: uppercase;
}

.nameInput input{
    border: none;
    background: none;
    border-bottom: 1px solid #5ddbe3;
    outline: none;
    font-size: 16px;
    color: #5ddbe3;
}

.originInput{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.originInput span{
     color: #5ddbe3;
    font-size: 16px;
    text-transform: uppercase;
   
}

.originRadio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    max-height: 4rem;
}


.originRadio label{
    color: #5ddbe3;
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
}


.xpInput label{
    color: #5ddbe3;
    font-size: 16px;
    margin-right: 8px;
    text-transform: uppercase;
}

.xpInput input{
    border: none;
    background: none;
    border-bottom: 1px solid #5ddbe3;
    outline: none;
    font-size: 16px;
    color: #5ddbe3;
    
}

