.char-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(248,9,9);
    border-radius: 10px;
    padding: 16px;
    gap: 2rem;
    max-width: 40rem;
}

.mtc-hp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mtc-hp input{
    width: 30px;
    padding: 8px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    background: none;
    color: rgb(255,8,255);
}

.status{
    display: flex;
    align-items: center;
}

.status label,
.psyco label{
    margin-left: 2px;
    color: rgb(216,216,33);
    font-weight: bold;
    font-size: 16px;
}

.psyco{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.psyco label{
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    font-size: 16px;
}
